<!DOCTYPE html>
<html lang="en">
{% extends 'dashboard.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">User Contact Details</h4>
        </div>

    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
            <th scope="col">Subject</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
        <tr>
            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.email}}</td>
            <td>{{d.message}}</td>
            <td>{{d.subject}}</td>
            <td>
                <a href="#" class="btn btn-outline-danger">Delete</a></td>
        </tr>

        {% endfor %}


        </tbody>
    </table>

</div>

</body>
</html>
{% endblock %}